.cabeza{
    font-family: 'Segoe UI';
    color: #7a7a7a;
    font-weight: 600;
    font-size: 30px;
}

.hojita{
    float: right;
    width: 30px;
    margin-top: 5px;
}

.input{
    margin-top: 30px;
}

.nombre{
    font-size: 20px;
    font-family: 'Segoe UI';
    color: #7a7a7a;
    font-weight: 600;
    margin-top: 5px;
}

.campo{
    font-family: 'Segoe UI';
    color: #7a7a7a;
    border: solid 3px #f3fbae;
    //width: 250px;
    height: 8px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 15px;
}

.campo2{
    font-family: 'Segoe UI';
    color: #7a7a7a;
    border: solid 3px #f3fbae;
    //width: 250px;
    height: 20px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 5px;
}

.boton{
    font-family: 'Segoe UI';
    color: black;
    font-size: 12px;
    font-weight: 600;
    background-color: #abf000;
    margin-top: 18px;
    width:120px;
    border-radius: 10px;
    text-align: center;
}