<app-header titulo="Publicar remedio"></app-header>

<ion-content >

  <ion-item class = "input" lines = "none">

    <ion-label class = "nombre" position="stacked">Nombre del remedio:</ion-label>
    <ion-input type="text" class = "campo" [(ngModel)]="post.titulo"  padding-start = "10px"></ion-input>

    <ion-label class = "nombre" position="stacked">Categoría:</ion-label>
    <ion-input type = "text" class = "campo" [(ngModel)]="post.categoria"></ion-input>

    <ion-label class = "nombre" position="stacked">Descripción:</ion-label>
    <ion-textarea class = "campo2" [(ngModel)]="post.cuerpo"></ion-textarea>

    <ion-label class = "nombre" position="stacked">Link de una imagen</ion-label>
    <ion-input type = "text" class = "campo" [(ngModel)]="post.urlToImage"></ion-input>

    <ion-button 
    class = "boton" color = "#abf000" shape="round" (click)="createPost(post)" >Subir</ion-button>

  </ion-item>
</ion-content>
