<ion-header>
  <ion-toolbar color="light">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-item>
    <h3>Ingresa tus datos</h3>
  </ion-item>
<ion-item>
  
 <ion-label>
Email
 </ion-label> 
 <ion-input type="email" [(ngModel)]="user.email"></ion-input>
</ion-item>
<ion-item>
  <ion-label>
 Password
  </ion-label> 
  <ion-input type="password" [(ngModel)]="user.password"></ion-input>
 </ion-item>
 <ion-item-divider>
  <ion-button position="center" color="success" size="default" (click)="onLogin()">Ingresar</ion-button>
  <ion-button position="center" color="primary" size="default" href="/register">Registrarse</ion-button>
 </ion-item-divider>

</ion-content>