
  <ion-fab horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/subir-remedio" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="home" color="warning" size="large"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon name="search" color="medium" size="large"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-icon name="heart" color="danger" size="large"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tab4">
        <ion-icon name="person" color="secondary" size="large"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

