<app-header titulo="Tu información"></app-header>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h3>Datos personales</h3>
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Nombre: {{user.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos: {{user.apellidos}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Correo: {{user.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Genero: {{user.genero}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ubicacion: {{user.ubicacion}}</ion-label>
    </ion-item>
  </ion-list>

    


    <!--
    <ion-list lines="none">
      <ion-item-sliding>
        <ion-item class = "no-padding">
          <ion-label>
            <h2>Datos</h2>
          </ion-label>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option>
            <ion-icon slot = "icon-only" name = "pencil-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>    </ion-list>
-->


  <!--
  <app-explore-container name="Tab 4 page"></app-explore-container>-->
</ion-content>
