
<div *ngIf="access">

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Terminos-Condiciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Terminos-Condiciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-col>
    <h1>Terminos y Condiciones.</h1>
    <div class="ion-text-justify">
      
      Este contrato incluye exclusión de garantías y limitaciones de responsabilidad, permisos para la reproducción autorizada de información contenida en este sitio Web, así como recurso exclusivo de acceso y disponibilidad de servicios y conexiones.

        1. FORMA EN QUE RECO PUEDE MODIFICAR ESTE CONTRATO.
        RECO se reserva el derecho a modificar los términos, condiciones y avisos legales en virtud del sitio Web. Usted es responsable de consultar regularmente los términos, condiciones y avisos legales mencionados, así como los términos adicionales publicados en el sitio Web. Su uso tras la fecha de entrada en vigor de tales modificaciones supone su aceptación de las mismas.
        
        2. TÉRMINOS ADICIONALES.
        El sitio Web www.tarifaenlinea.com de RECO puede contener, de forma independiente, términos adicionales (por ejemplo, códigos de conducta o directrices) que rijan de forma suplementaria el uso de dicho sitio, incluyendo, entre otros, características particulares y ofertas (por ejemplo, sorteos, manuales de uso de aplicaciones, seminarios, etc.). Si alguno de los términos expuestos en el presente contrato entrara en conflicto con alguno de los términos incluidos en alguna página a la que se pueda acceder por medio del sitio Web www.tarifaenlinea.com de RECO, prevalecerán los términos del presente contrato.
        
        3. PROHIBICIÓN DEL USO COMERCIAL, ILÍCITO O PERJUDICIAL DEL SITIO WEB WWW.TARIFAENLINEA.COM DE "RECO".
        EL sitio Web www.tarifaenlinea.com de RECO es sólo para uso personal. No podrá utilizar el sitio Web www.tarifaenlinea.com de RECO para fines comerciales ni de forma ilícita o de tal manera que produzca daños a RECO, a su área comercial, distribuidores, proveedores de servicios y/o a terceros en general, según lo determine RECO a su exclusiva discreción.
        
        Aunque no tenga obligación de hacerlo, RECO por conducto de su sitio Web o correo directo podrá comunicarle ciertos usos indebidos específicos incluidos en un código de conducta u otros avisos legales que se encuentren disponibles a través del sitio Web. Usted no podrá usar el sitio Web de forma contraria a lo dispuesto en cualquier código de conducta, directiva o aviso legal aplicable a dicho sitio u otra notificación aplicable al mismo. Sin limitar la generalidad de esta cláusula, no podrá utilizar el sitio Web www.tarifaenlinea.com de RECO de forma que pudiera dañar, deshabilitar, sobrecargar o deteriorar el mismo, ni interferir con el uso y disfrute del sitio por parte de otras personas.
        
        4. PERMISOS PARA LA REPRODUCCIÓN AUTORIZADA DE INFORMACIÓN CONTENIDA EN EL SITIO WEB.
        Para reproducirse el material, parcial o totalmente, que se contiene en el sitio Web, y exhibirlo en otro sitio Web, publicación impresa o electrónica, exposición, seminario, conferencia, curso e incluso para efectos académicos, es necesario obtener permiso y autorización por escrito de RECO. En dicho escrito se deberá brindar las especificaciones de tiempo, lugar y forma en que se hará y los fines para lo que lo ocupara. Usted puede dirigir su comunicación escrita, a la siguiente dirección: CONSTITUCIÓN 259-A, COLONIA CENTRO DE LA CIUDAD DE VERACRUZ VERACRUZ, C.P. 91700. En todo caso, nunca será con fines lucrativos y mucho menos para fomentar una actividad que represente especulación comercial.
        
        Usted y RECO acuerdan que las acciones de "RECO" que se deriven o relacionen por uso indebido de los "CONTENIDOS" de su sitio Web o de este contrato deberán interponerse ante las autoridades y/o tribunales competentes a partir de que se origine dicha acción o se dé por enterado RECO y no se considerarán términos de prescripción para interponerlas.
        
        5. EL ACCESO Y DISPONIBILIDAD DE SERVICIOS Y CONEXIONES.
        El sitio Web www.tarifaenlinea.com de RECO pudiera contener conexiones a otros sitios de Internet, los cuales algunos son patrocinadores de RECO. La selección de una de estas conexiones, remite al usuario fuera del sitio de RECO, por lo que la información y transacciones que ocurran entre el usuario y el tercero, será por cuenta de estos y no es responsabilidad de RECO, ya que en ningún momento será responsable de los materiales o transacciones que se pudieran realizar fuera de su página Web, en todo caso el usuario deberá dirigirse, para cualquier inquietud al administrador o Web master del sitio seleccionado.
        
        6. INFORMACIÓN DISPONIBLE DESDE EL SITIO WEB WWW.TARIFAENLINEA.COM DE RECO
        RECO no garantiza ni asegura la precisión e idoneidad de cualquier tipo de información disponible en el sitio, incluyendo leyes, notas explicativas, etc., así como de la información emitida por cualquier autoridad, ya sea hacendaria o no, de carácter informativa, como Diarios Oficiales o Circulares, ya que los cambios que realizan las autoridades son sin previo aviso y de momento a momento.
        
        RECO no autoriza el uso de la información disponible dentro del sitio Web, para cualquier otro propósito que no sea su uso personal y, asimismo, prohíben, la reventa, redistribución y uso de esta información para propósitos comerciales. Ninguna parte del contenido del sitio tiene por objeto servir de asesoramiento profesional, ni podrá ser utilizado en ningún litigio contra RECO, sólo constituye una difusión (compilación-base de datos) de criterios ordenados y analizados por especialidad, de carácter informativo, analítico, reflexivo y explicativo.
        
        7. RECO NO OTORGA NINGUNA GARANTÍA.
        RECO proporciona su sitio Web "tal cual", con todos sus fallos y según disponibilidad, y usted asume todo el riesgo de la calidad, del funcionamiento, de la exactitud y del esfuerzo satisfactorio. En la medida de lo posible según lo permitido por la ley aplicable, RECO por conducto de su sitio Web www.tarifaenlinea.com no realiza declaraciones, ni otorga garantías o condiciones de un servicio distinto al especificado aquí, ya sea de forma expresa o implícita.
        
        También excluyen toda garantía o condición, ya sea expresa, implícita o prevista por la ley, incluyendo, entre otras:
        
        a. Las garantías o condiciones de comerciabilidad, idoneidad para un propósito en particular, esfuerzo profesional, exactitud, titularidad, disfrute pleno, ausencia de cargas, ausencia de gravámenes y ausencia de infracciones, Las garantías o condiciones derivadas de prácticas o usos comerciales, y
        
        b. Las garantías o condiciones de que el acceso a los sitios Web de RECO o su uso será ininterrumpido o sin errores.
        
        No existen garantías más allá de lo previsto expresamente en este contrato.
        
        8. LIMITACIÓN Y EXCLUSIÓN DE RESPONSABILIDAD.
        Toda la información contenida en el sitio Web www.tarifaenlinea.com de RECO es criterio de los técnicos y profesionistas de la empresa, por lo que la toma de decisiones y los resultados que se obtengan por el uso de la información es responsabilidad exclusiva de USTED, en el entendido de que los técnicos y profesionistas de RECO no tendrán ninguna responsabilidad.
        
        En ningún caso RECO se responsabilizará por los daños, incluidos entre otros, los indirectos, consecuenciales, especiales, incidentales o punitivos derivados o relacionados con la interpretación o uso que se haga de la información contenida en el sitio Web de RECO o del presente contrato.
        
        Estas limitaciones y exclusiones se aplican independientemente del origen de los daños, ya sean estos por:
        
        a. Incumplimiento del contrato,
        
        b. Incumplimiento de una garantía
        
        c. Negligencia o
        
        d. Cualquier otra acción, en la medida en que dicha exclusión y limitaciones no estén prohibidas por la ley aplicable.
        
        Si no está satisfecho con el sitio Web www.tarifaenlinea.com de RECO, no está de acuerdo con alguna parte del presente contrato o tiene algún otro conflicto o queja en contra de RECO con relación a este contrato o a los servicios que proporciona este sitio Web, su único recurso es dejar de utilizar el sitio Web www.tarifaenlinea.com de RECO.
    </div>
  </ion-col>

  <ion-button position="center" color="success" routerLink="/app/tabs/tab1">Aceptar</ion-button>
    <ion-button position="center"  color="danger" routerLink="/register">Salir</ion-button>
</ion-content>
</div>