<ion-card button="true">
  <ion-card-header>
    <ion-card-title>

      {{ tip.titulo }}
    </ion-card-title>
    <ion-card-subtitle>
      Categoría: {{ tip.categoria }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            Receta:<br> {{ tip.cuerpo }}

          </ion-col>
          <ion-col>
              <img src="{{ tip.urlToImage }}" style = "width: 300px" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-chip outline color="danger" (click)="setLike()">
            <ion-icon  [name]="heartState" size="large"></ion-icon>
            <label> {{ tip.likes }}</label>
          </ion-chip>
        </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>

