<app-header titulo="Destacados"></app-header>

<ion-content fullscreen>


  <ion-list>
    <ion-list-header>
      <ion-label>
        <h3>Remedios Destacados</h3>
      </ion-label>
    </ion-list-header>
  
    <app-post *ngFor="let tip of items" [tip]="tip"></app-post>
  </ion-list>
</ion-content>