<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button slot="start" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>
   Nombre
    </ion-label> 
    <ion-input type="text" [(ngModel)]="user.nombre"></ion-input>
   </ion-item>
   <ion-item>
    <ion-label>
   Apellido
    </ion-label> 
    <ion-input type="text" [(ngModel)]="user.apellidos"></ion-input>
   </ion-item>
<ion-item>
 <ion-label>
Email
 </ion-label> 
 <ion-input type="text" [(ngModel)]="user.email"></ion-input>
</ion-item>
<ion-item>
  <ion-label>
 Password
  </ion-label> 
  <ion-input type="password" [(ngModel)]="user.password"></ion-input>
 </ion-item>
 <ion-item>
  <ion-label>Genero</ion-label>
  <ion-select [(ngModel)]="user.genero"  value="Genero" interface="action-sheet">
    <ion-select-option value="Hombre">Hombre</ion-select-option>
    <ion-select-option value="Mujer">Mujer</ion-select-option>
    <ion-select-option value="Indefinido">Prefiero no decirlo</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Ubicacion</ion-label>
  <ion-select [(ngModel)]="user.ubicacion" value="Pais" interface="action-sheet">
    <ion-select-option value="Mexico">Mexico</ion-select-option>
    <ion-select-option value="Peru">Peru</ion-select-option>
    <ion-select-option value="Argentina">Argentina</ion-select-option>
    <ion-select-option value="Usa">Usa</ion-select-option>
    <ion-select-option value="Colombia">Colombia</ion-select-option>
  </ion-select>
</ion-item>

 <ion-item-divider>
  <ion-button position="center" color="success" size="default" (click)="onRegister()">Registrarme</ion-button>
 </ion-item-divider>

</ion-content>
